<div class="inner-padding--lg home-services" id="services">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-heading__name fade-in-element">
                <span class="content" data-text="services.title">What we offer?</span>
            </h2>	
        </div>

        <div class="row home-services__row">
            <div class="col-sm-6 home-services__col fade-in-element">
                <div class="home-services__item">
                    <div class="home-services__item-media">
                        <span class="flaticon-tick home-services__item-icon"></span>
                        <h3 class="home-services__item-name">
                            <span class="content" data-text="services.web-design.title">Website design</span>
                        </h3>
                    </div>
                    <div class="home-services__item-content">
                        <p>
                            <span class="content" data-text="services.web-design.subtitle">Interact with your customers with simple, easy to use, well organized, attractive and responsive websites.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 home-services__col fade-in-element">
                <div class="home-services__item">
                    <div class="home-services__item-media">
                        <span class="flaticon-tick home-services__item-icon"></span>
                        <h3 class="home-services__item-name">
                            <span class="content" data-text="services.mobile-app.title">Mobile app</span>
                        </h3>
                    </div>
                    <div class="home-services__item-content">
                        <p>
                            <span class="content" data-text="services.mobile-app.subtitle">We serve unique needs of your target audience by offering a perfect mobile app experience.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 home-services__col fade-in-element">
                <div class="home-services__item">
                    <div class="home-services__item-media">
                        <span class="flaticon-tick home-services__item-icon"></span>
                        <h3 class="home-services__item-name">
                            <span class="content" data-text="services.seo.title">Search engine optimization</span>
                        </h3>
                    </div>
                    <div class="home-services__item-content">
                        <p>
                            <span class="content" data-text="services.seo.subtitle">We boost your SERP rating by strategizing on keyword analysis and backlinking.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 home-services__col fade-in-element">
                <div class="home-services__item">
                    <div class="home-services__item-media">
                        <span class="flaticon-tick home-services__item-icon"></span>
                        <h3 class="home-services__item-name">
                            <span class="content" data-text="services.web-dev.title">Web development</span>
                        </h3>
                    </div>
                    <div class="home-services__item-content">
                        <p>
                            <span class="content" data-text="services.web-dev.subtitle">We create  robust and well functional websites using the most cutting-edge technology available.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>