<div class="col-xl-7 col-md-6 contactsFormWrapper">
    <div class="home-contacts__form animation-hidden">
        <form method="post" class="contactsForm">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group home-contacts__form-group">
                        <label class="home-contacts__form-label" for="first_name">
                            <span class="content" data-text="general.first-name">First Name</span>*
                        </label>
                        <input type="text" class="form-control home-contacts__form-control" name="first_name" id="first_name" placeholder="Enter your text here..." required="">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group home-contacts__form-group">
                        <label class="home-contacts__form-label" for="last_name">
                            <span class="content" data-text="general.last-name">Last Name</span>*
                        </label>
                        <input type="text" class="form-control home-contacts__form-control" name="last_name" id="last_name" placeholder="Enter your text here..." required="">
                    </div>
                </div>
            </div>
            <div class="form-group home-contacts__form-group">
                <label class="home-contacts__form-label" for="phone">
                    <span class="content" data-text="general.phone">Phone</span>*
                </label>
                <input type="text" class="form-control home-contacts__form-control" name="phone" id="phone" placeholder="Enter your text here..." required="">
            </div>
            <div class="form-group home-contacts__form-group">
                <label class="home-contacts__form-label" for="email">
                    <span class="content" data-text="general.email">Email</span>*
                </label>
                <input type="email" class="form-control home-contacts__form-control" name="email" id="email" placeholder="Enter your text here..." required="">
            </div>
            <div class="form-group home-contacts__form-group">
                <label class="home-contacts__form-label" for="message">
                    <span class="content" data-text="general.message">Message</span>
                </label>
                <textarea rows="4" class="form-control home-contacts__form-control home-contacts__form-control--message" name="message" id="message" placeholder="Enter your text here..."></textarea>
            </div>
            <div class="text-center text-md-right mt-4">
                <button type="submit" class="btn btn-primary px-5 py-3 home-contacts__form-action" id="buttonFrom">
                    <span class="content" data-text="general.inquire">Inquire Us</span>
                </button>
            </div>
        </form>
    </div>
</div>