<div class="inner-padding--lg home-counter fade-in-element" id="counter">
    <div class="container counter__card">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="counter__item">
                    <div class="counter__icon flaticon-briefcase"></div>
                    <h4 class="counter__val">40+</h4>
                    <h3 class="counter__name">Happy Clients</h3>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class="counter__item">
                    <div class="counter__icon flaticon-target"></div>
                    <h4 class="counter__val">540+</h4>
                    <h3 class="counter__name">Projects Completed</h3>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class="counter__item">
                    <div class="counter__icon flaticon-network"></div>
                    <h4 class="counter__val">300</h4>
                    <h3 class="counter__name">Dedicated Members</h3>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class="counter__item">
                    <div class="counter__icon flaticon-trophy"></div>
                    <h4 class="counter__val">25+</h4>
                    <h3 class="counter__name">Awards Won</h3>
                </div>
            </div>
        </div>
    </div>
</div>