<div class="inner-padding--lg home-about" id="about">
    <div class="container">
        <div class="row align-items-sm-center">
            <div class="col-md-6 col-sm-6">
                <div class="home-about__media fade-in-element">
                    <img src="./assets/about.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="home-about__content pl-md-5 pl-sm-3 fade-in-element">

                    <div class="section-heading home-about__title">
                        <h3 class="section-heading__name">About Us</h3>	
                    </div>

                    <p>
                        We have the most effective solutions to help your business advance and grow significantly. We build your website with simple navigation, intelligently organised sections and pages, a sleek, brand-appropriate interface, and mobile accessibility. 
                    </p>
                    <p>
                        We work with businesses of all types, from start-ups to multinational corporations. We believe in building long-term relationships with all of our clients and making ourselves available to them anytime they need us. For more details, please contact us.
                    </p>
                    <a href="#" class="btn btn-primary text-white home-about__action">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>