<div class="inner-padding--lg home-hero" id="home">
    <div class="container">
        <div class="row align-items-sm-center">
            <div class="col-lg-6 col-sm-5 order-sm-2">
                <div class="home-hero__media bg-secondary fade-in-element">
                    <img src="./assets/banner.jpg" class="img-fluid home-hero__media-item" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-sm-7 order-sm-1">
                <div class="home-hero__content fade-in-element">
                    <h1 class="home-hero__title"><span class="content" data-text="home.title">Create Your Own Website</span></h1>
                    <p>
                        <span class="content" data-text="home.subtitle">Make your customers visit your website again and again with our web solutions. Your website is the face of your business. Build your website now and grow your business.</span>
                    </p>
                    <div class="home-hero__actions">
                        <button id="getStarted" class="btn btn-primary rounded-pill home-hero__action"><span class="content" data-text="general.get-started">Get Started</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>