<div class="home-faqs inner-padding--lg" id="faqs">
    <div class="inner-padding bg-light">
        <div class="container">
            <div class="section-heading text-center animation-hidden">
                <h3 class="section-heading__name">
                    <span class="content" data-text="faqs.title">FAQs</span>
                </h3>	
                <h5 class="section-heading__text">
                    <span class="content" data-text="faqs.subtitle">Take a look at some of the most frequently asked questions!</span>
                </h5>
            </div>
            <div class="accordion accordion--skin-1 home-faqs__accordian" id="accordionQuestions">
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__1" role="button" href="#Que__1" data-toggle="collapse" data-target="#Que__1" aria-expanded="false" aria-controls="Que__1">
                        <span class="content" data-text="faqs.list.1.question">How long will it take for my website to be designed?</span>
                    </a>
                    <div id="Que__1" class="collapse" aria-labelledby="headingQue__1" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                <span class="content" data-text="faqs.list.1.answer">The time it takes to create a website is determined by the site's complexity. If you have a deadline, we will do everything possible to reach it.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__2" role="button" href="#Que__2" data-toggle="collapse" data-target="#Que__2" aria-expanded="false" aria-controls="Que__2">
                        <span class="content" data-text="faqs.list.2.question">How much does a website cost me?</span>
                    </a>
                    <div id="Que__2" class="collapse" aria-labelledby="headingQue__2" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                <span class="content" data-text="faqs.list.2.answer">The price of a website is determined by its complexity. At any time, we are happy to address your needs and provide a quote.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__3" role="button" href="#Que__3" data-toggle="collapse" data-target="#Que__3" aria-expanded="false" aria-controls="Que__3">
                        <span class="content" data-text="faqs.list.3.question">Will my website design be search-engine friendly?</span>
                    </a>
                    <div id="Que__3" class="collapse" aria-labelledby="headingQue__3" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                <span class="content" data-text="faqs.list.3.answer">All of our websites are designed with search engines in mind, and all of the designs adhere to search engine guidelines.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__4" role="button" href="#Que__4" data-toggle="collapse" data-target="#Que__4" aria-expanded="false" aria-controls="Que__4">
                        <span class="content" data-text="faqs.list.4.question">Can we update our website?</span>
                    </a>
                    <div id="Que__4" class="collapse" aria-labelledby="headingQue__4" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                <span class="content" data-text="faqs.list.4.answer">Yes, the websites can be modified in a variety of ways. You have complete control over the method you use and the features we incorporate into your design.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>