<div class="home-faqs inner-padding--lg" id="faqs">
    <div class="inner-padding bg-light">
        <div class="container">
            <div class="section-heading text-center animation-hidden">
                <h3 class="section-heading__name">FAQs</h3>	
                <h5 class="section-heading__text">Take a look at some of the most frequently asked questions!</h5>
            </div>


            <!-- Accordian Starts -->
            <div class="accordion accordion--skin-1 home-faqs__accordian" id="accordionQuestions">
                <!-- Accoardian item 1 Starts -->
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__1" role="button" href="#Que__1" data-toggle="collapse" data-target="#Que__1" aria-expanded="false" aria-controls="Que__1">
                    How long will it take for my website to be designed?
                    </a>
                    <div id="Que__1" class="collapse" aria-labelledby="headingQue__1" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                The time it takes to create a website is determined by the site's complexity. If you have a deadline, we will do everything possible to reach it.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accoardian item 1 Ends -->

                <!-- Accoardian item 2 Starts -->
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__2" role="button" href="#Que__2" data-toggle="collapse" data-target="#Que__2" aria-expanded="false" aria-controls="Que__2">
                    How much does a website cost me?
                    </a>
                    <div id="Que__2" class="collapse" aria-labelledby="headingQue__2" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                The price of a website is determined by its complexity. At any time, we are happy to address your needs and provide a quote.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accoardian item 2 Ends -->

                <!-- Accoardian item 3 Starts -->
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__3" role="button" href="#Que__3" data-toggle="collapse" data-target="#Que__3" aria-expanded="false" aria-controls="Que__3">
                    Will my website design be search-engine friendly?
                    </a>
                    <div id="Que__3" class="collapse" aria-labelledby="headingQue__3" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                All of our websites are designed with search engines in mind, and all of the designs adhere to search engine guidelines.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accoardian item 3 Ends -->

                <!-- Accoardian item 4 Starts -->
                <div class="card animation-hidden">
                    <a class="card-header collapsed" id="headingQue__4" role="button" href="#Que__4" data-toggle="collapse" data-target="#Que__4" aria-expanded="false" aria-controls="Que__4">
                    Can we update our website?
                    </a>
                    <div id="Que__4" class="collapse" aria-labelledby="headingQue__4" data-parent="#accordionQuestions">
                        <div class="card-body">
                            <p>
                                Yes, the websites can be modified in a variety of ways. You have complete control over the method you use and the features we incorporate into your design.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accoardian item 3 Ends -->

            </div>
            <!-- Accordian Ends -->
        </div>
    </div>
</div>