<div class="inner-padding--lg home-testimonials" id="testimonials">
    <div class="container">
        <div class="row align-items-center home-testimonials__row">
            <div class="col-md-6 testimonials__col">
                <div class="section-heading mb-0 text-left animation-hidden">
                    <h2 class="section-heading__name">What our customers say?</h2>	
                </div>
            </div>
            <div class="col-md-6 home-testimonials__col animation-hidden">
                <div class="testimonials__item">
                    <div class="testimonials__item-content">
                        <p>
                            On every level, they have surpassed my expectations.The end result is a stunning website that captures our audience. We love to work with them.
                        </p>
                    </div>
                    <div class="media testimonials__item-media">
                        <div class="testimonials__item-pic">
                            <img src="./assets/rachel.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="media-body testimonials__item-body">
                            <h4 class="testimonials__item-name">Rachel</h4>
                            <h6 class="testimonials__item-handle"><a href="#">@rachel</a></h6>
                        </div>
                        <div class="testimonials__item-social">
                            <span class="flaticon-linkedin"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 home-testimonials__col animation-hidden">
                <div class="testimonials__item">
                    <div class="testimonials__item-content">
                        <p>
                            They did an excellent job of delivering exactly what I expected.
                        </p>
                    </div>
                    <div class="media testimonials__item-media">
                        <div class="testimonials__item-pic">
                            <img src="./assets/john-smith.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="media-body testimonials__item-body">
                            <h4 class="testimonials__item-name">John Smith</h4>
                            <h6 class="testimonials__item-handle"><a href="#">@john_smith</a></h6>
                        </div>
                        <div class="testimonials__item-social">
                            <span class="flaticon-instagram"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 home-testimonials__col animation-hidden">
                <div class="testimonials__item">
                    <div class="testimonials__item-content">
                        <p>
                            The customer service and attention to detail have exceeded my expectations. I highly recommend them for both your website and SEO needs.
                        </p>
                    </div>
                    <div class="media testimonials__item-media">
                        <div class="testimonials__item-pic">
                            <img src="./assets/katherine.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="media-body testimonials__item-body">
                            <h4 class="testimonials__item-name">Katherine</h4>
                            <h6 class="testimonials__item-handle"><a href="#">@katherine</a></h6>
                        </div>
                        <div class="testimonials__item-social">
                            <span class="flaticon-facebook"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 home-testimonials__col animation-hidden">
                <div class="testimonials__item">
                    <div class="testimonials__item-content">
                        <p>
                            They have been professional, comprehensive and competent throughout the process of our working together. Highly recommend them for your seo and web development needs.
                        </p>
                    </div>
                    <div class="media testimonials__item-media">
                        <div class="testimonials__item-pic">
                            <img src="./assets/rex-thomas.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="media-body testimonials__item-body">
                            <h4 class="testimonials__item-name">Rex Thomas</h4>
                            <h6 class="testimonials__item-handle"><a href="#">@rex_thomas</a></h6>
                        </div>
                        <div class="testimonials__item-social">
                            <span class="flaticon-twitter"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 home-testimonials__col animation-hidden">
                <div class="testimonials__item">
                    <div class="testimonials__item-content">
                        <p>
                            We've seen more than 100 percent rise in the amount of online contact forms filled out and returned to us after they created our new website.
                        </p>
                    </div>
                    <div class="media testimonials__item-media">
                        <div class="testimonials__item-pic">
                            <img src="./assets/roy-victor.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="media-body testimonials__item-body">
                            <h4 class="testimonials__item-name">Roy Victor</h4>
                            <h6 class="testimonials__item-handle"><a href="#">@roy_victor</a></h6>
                        </div>
                        <div class="testimonials__item-social">
                            <span class="flaticon-linkedin"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>