<div class="inner-padding--lg home-contacts bg-primary" id="contacts">

    <div class="container">

        <div class="section-heading text-left animation-hidden">
            <h3 class="section-heading__name">How can we help you?</h3>	
            <h5 class="section-heading__text">Just fill the form and we are there to help you out.</h5>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-xl-5 col-md-6">
                <div class="home-contacts__details">

                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-12 home-contacts__details-item animation-hidden">
                            <!-- Contacts Details Block 1 Starts -->
                            <div class="media ">
                                <span class="flaticon-telephone home-contacts__details-icon"></span>
                                <div class="media-body">
                                    <h4 class="home-contacts__details-name">Phone</h4>
                                    <div class="home-contacts__details-info">
                                        <a href="tel:1800123456789">1800 123 4567</a> <br>
                                        <a href="tel:1800123456789">1800 4567 890</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Contacts Details Block 1 Ends -->
                        </div>
                        <div class="col-md-12 col-sm-6 col-12 home-contacts__details-item animation-hidden">
                            <!-- Contacts Details Block 2 Starts -->
                            <div class="media ">
                                <span class="flaticon-email home-contacts__details-icon"></span>
                                <div class="media-body">
                                    <h4 class="home-contacts__details-name">Email</h4>
                                    <div class="home-contacts__details-info">
                                        <a href="mailto:">info@example.com</a> <br>
                                        <a href="mailto:">info@example.com</a> <br>
                                        <a href="mailto:">info@example.com</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Contacts Details Block 2 Ends -->
                        </div>
                        <div class="col-md-12 col-sm-6 col-12 home-contacts__details-item animation-hidden">
                            <!-- Contacts Details Block 3 Starts -->
                            <div class="media ">
                                <span class="flaticon-address home-contacts__details-icon"></span>
                                <div class="media-body">
                                    <h4 class="home-contacts__details-name">Address</h4>
                                    <div class="home-contacts__details-info">
                                        <p>
                                            xyz street <br>
                                            Roseville NH 11523
                                        </p>
                                        <a href="#" class="text-secondary">View Map</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Contacts Details Block 3 Ends -->
                        </div>
                        <div class="col-md-12 col-sm-6 col-12 home-contacts__details-item animation-hidden">
                            <div class="list-inline home-contacts__social">
                                <a class="list-inline-item home-contacts__social-item" href="#"><span class="flaticon-facebook"></span></a>
                                <a class="list-inline-item home-contacts__social-item" href="#"><span class="flaticon-linkedin"></span></a>
                                <a class="list-inline-item home-contacts__social-item" href="#"><span class="flaticon-instagram"></span></a>
                                <a class="list-inline-item home-contacts__social-item" href="#"><span class="flaticon-twitter"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @@include('../form/_form.html')
            
        </div>

    </div>
</div>